
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5  {
  color:#02000a;
  font-weight: 200;
}

#welcome-to-google-docs-guide {
  display: none;
}


.md-ellipsis {
  font-weight: 300;
}




